.Authentication {
    flex: 1;
    height: 100vh; 
    background-image: url('../../assets/images/bg.jpg');
    background-repeat: 'no-repeat'; 
    background-size: 'cover';
}

.tabButton {
    background: rgba(58,48,97,0.35);
    color: white;
    width: 50%;
    height: 8vh;
    border:none;
    outline: none;
    font-size: 20px;
}

.tabButton.active {
    background: rgba(58,48,97,0.9);
}

.container {
    width: 100%;
    height: 50vh;
    background-color: rgba(58,48,97,0.9);
}

.button-menu {
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
}

.container-success{
    background: #37D0C8;
    flex-direction: column;
    height: 55vh;
    justify-content: center;
    font-weight: bold;
    color: #392F63;
}

.success-icon {
    width:100px;
}

.btn-login {
    background: rgba(0,0,0,0);
    color: #392F63;
}